/* BENTOGRID */
.bentoMain{
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100vw;
}
.bentoMain .bentoHeading{
    text-align: center;
    color: var(--nav-color);
}
.bentoGrid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.8em;
    overflow-x: auto;
}
.bentoGrid .container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bentoGrid .container1{
    height: 100%;
    min-width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.bentoGrid .container .box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1em;
}
.bentoGrid .container1 .box1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "left1 left1 . . . . . ."
    "left1 left1 left2 left2 left2 left2 left2 left2"
    "left1 left1 left2 left2 left2 left2 left2 left2"
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 100%;
}
.bentoGrid .container .box1 img:nth-child(1){
    grid-area: left1;
}
.bentoGrid .container .box1 img:nth-child(2){
    grid-area: left2;
}
.bentoGrid .container .box1 img{
    align-self: flex-end;
}
.bentoGrid .container .box2 img{
    align-self: flex-start;
}
.bentoGrid .container1 .box2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "left3 left3 left3 left4 left4 left4 left4 left4"
    "left3 left3 left3 left4 left4 left4 left4 left4"
    "left3 left3 left3 . . . . . "
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 100%;
}
.bentoGrid .container .box2 img:nth-child(1){
    grid-area: left3;
}
.bentoGrid .container .box2 img:nth-child(2){
    grid-area: left4;
}
.bentoGrid .container2{
    display: flex;
    min-width: 22%;
    justify-content: center;
    align-items: center;
}
.bentoGrid .container3{
    height: 100%;
    min-width: 36%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bentoGrid .container3 .box1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    ". . . . right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 60%;
}
.bentoGrid .container3 .box1 img:nth-child(1){
    grid-area: right1;
}
.bentoGrid .container3 .box1 img:nth-child(2){
    grid-area: right2;
}
.bentoGrid .container3 .box2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas:
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 . . . . ."
    "right3 right3 right3 . . . . ."
    "right3 right3 right3 . . . . ."
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 40%;
}
.bentoGrid .container3 .box2 img:nth-child(1){
    grid-area: right3;
}
.bentoGrid .container3 .box2 img:nth-child(2){
    grid-area: right4;
}