@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("hamburger.css");
@import url("navbar.css");
@import url("about.css");
@import url("categories.css");
@import url("products.css");
@import url("rooms.css");
@import url("bentoGrid.css");
@import url("footer.css");

@import url("responsive.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*::after, *::before{
    box-sizing: border-box;
}


/* TOGGLE - DARK AND LIGHT MODE */

#toggle{
    display: none;
}
.checkboxToggle{
    display: inline-block;
    width: 50px;
    height: 25px;
    background: #a3a3a3;
    border-radius: 50px;
    position: relative;
    top: 5px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 555;
}
.checkboxToggle::before {
    content: "🌞";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 16px;
    z-index: 15;
    transition: all 0.3s ease;
}
#toggle:checked ~ *{
    .checkboxToggle::before{
        content: "🌙";
        left: 2px;
        transform: translate(25px, -50%);
    }
    
    background-color: #2C2C2C;
    --nav-bg-color: #1E1E1E;
    --nav-color: white;

}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(auto-fit, minmax(100px, auto));
    min-height: 100vh; 
    transition: all 1s;
}

/* NAVBAR */

/* ABOUT */

/* CATEGORIES */

/* PRODUCTS */

/* ROOMS */

/* BENTOGRID */

/* FOOTER */