@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(auto-fit, minmax(100px, auto));
    /* grid-template-rows: auto; */
    min-height: 100vh; 
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    /* border: 2px solid red; */
}
.navbar .brandName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .brandName h2{
    font-family: Monteserrat;
}
.navbar .navigation{
    width: 40%;
}
.navbar .navigation ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.navbar .navigation ul li a{
    text-decoration :none;
    color: black;
    font-family: "Poppins",sans-serif;
}
.navbar .navigation ul li a{
    transition: 5s;
}
.navbar .navigation ul li:hover a{
    border-bottom: 5px solid black;
}
.navbar .icons{
    width: 20%;
}
.navbar .icons ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar .icons ul li{
    list-style: none;
}

/* ABOUT */
.about{
    background: url("../Project_Images/scandinavian-interior-mockup-wall-decal-background\ 1.png") no-repeat center center/cover;
    min-height: 650px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.about .aboutContent{
    position: absolute;
    left: 51%;
    height: 60%;
    width: 45%;
    border-radius: 10px;
    background-color: #FFF3E3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.aboutContent > *{
    padding-left: 5%;
}
.aboutContent h6{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
}
.aboutContent h1{
    font-size: 2.7em;
    color: #B88E2F;
    line-height: 1.3em;
}
.aboutContent .buy{
    height: 13%;
    width: 30%;
    position: relative;
    left: 5%;
    padding: 0;
    border: none;
    margin-top: 2em;
    background-color: #B88E2F;
    color: white;
    font-size:medium;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CATEGORIES */
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
.categories .heading h2{
    font-size: 2em;
}
.categories .categoryBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5em;
    flex-wrap: wrap;
    width: 100%;
}
.categories .categoryBox .box{
    display: flex;
    margin-top: 2em;
    margin-right: 0.8em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 25%;
    transition: 0.8s;
}
.categories .categoryBox .box:hover{
    transform: scale(1.1);
    box-shadow:  6px 7px 6px rgba(0, 0, 0, 0.3);
}
.categories .categoryBox .box img{
    max-width: 100%;
    height: auto;
}
.categories .categoryBox .box p{
    font-weight: 500;
    font-size: 1.8em;
    padding-left: none;
}

/* PRODUCTS */
.products{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products .heading{
    text-align: center;
    margin-top: 4em;
}
.products .heading h2{
    font-size: 2em;
}
.products .cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
    min-height: 400px;
    row-gap: 2.5em;
    column-gap: 0.8em;
    width: 90%;
}
.products .cards .card{
    background-color: #F4F5F7;
    border-radius: 10px;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
    transition-delay: 2s;
}
.products .cards .card:hover .cardContent{
    background-color:rgba(0, 0, 0, 0.3);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.products .cards .card .cardContent{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: -250px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}
.products .cards .card .cardContent .actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.products .cards .card .actionContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.products .cards .card .actionContent img{
    width: 30%;
    padding-right: 4px;
}
.products .cards .card .cardContent button{
    width: 60%;
    height: 9%;
    margin-bottom: 2em;
    border: none;
    background-color: white;
    color: #B88E2F;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}
.products .cards .cardContent button:hover{
    background-color: #B88E2F;
    color: white;
}
.products .cards .card .cardContent .actions p{
    padding: 0;
    color: white;
}
.products .cards .card img{
    height: 100%;
    width: auto;
    border-radius: 5px;
}
.products .cards .card .description h3,p{
    padding-left: 15px;
    padding-bottom: 10px;
}
.products .cards .card .description p{
    font-size: 0.9em;
    color: grey;
}
del{
    color: grey;
    padding-left: 3em;
    font-size: 0.9rem;
}
.products .cards .card .description .prPrice{
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.products .showBtn{
    width: 15em;
    margin-top: 3em;
    padding: 1em;
    border: 2px solid #B88E2F;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: #B88E2F;
    transition: 1s;
    cursor: pointer;
}
.products .showBtn:hover{
    background-color: #B88E2F;
    border: none;
    color: white;
}

/* BENTOGRID */
.bentoMain{
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bentoMain .bentoHeading{
    text-align: center;
}
.bentoGrid{
    margin-top: 2em;
    align-items: center;
    overflow: auto;
}
.bentoGrid .container1{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bentoGrid .container1 .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.bentoGrid .container1 .box1:nth-child(1){
    width: 5%;
}
.bentoGrid .container2{
    grid-area: col2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bentoGrid .container3{
    grid-area: col3;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
    border-top: 2px solid rgba(158, 157, 157,0.3);
}
footer .footerContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
footer .footerContent .address h3{
    margin-left: 0.4em;
    margin-bottom: 1em;
    font-size: 2em;
}
footer .address{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-self: baseline;
    text-align: justify;
    width: 30%;
}
footer .address p{
    color: grey;
}
footer .contentList{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}
footer .contentList .heading{
    color: grey;
    font-size: 1.2em;
}
footer .contentList .col{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2em;
}
footer .contentList .col p{
    padding: 0px;
}
footer .contentList .col ul li{
    margin-bottom: 2em;
}
footer .contentList ul li{
    list-style: none;
}
footer .contentList .newsLetter{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .contentList .newsLetter button{
    border: none;
    background: white;
    font-weight: 600;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    gap: 2em;
    cursor: pointer;
}
footer .contentList .newsLetter input{
    border: none;
    border-bottom: 1px solid black;
    margin-right: 1em;
    width: 13em;
}
footer .contentList .newsLetter input::placeholder{
    font-size: 13px;
}
footer .finalText{
    border-top: 1px solid grey;
    width: 80%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
    footer .contentList .newsLetter{
        flex-direction: column;
        align-items: start;
        row-gap: 1em;
    }
}

@media screen and (max-width: 991px){
    .categories .categoryBox .box{
        min-width: 15%;
    }
    footer .address{
        width: 20%;
    }
    .categories .categoryBox .box p{
        font-size: 1.8em;
        padding-top: 1em;
    }
}

@media screen and (max-width: 768px){
    .navbar .navigation{
        width: 50%;
    }
    .navbar .icons {
        display: none;
    }
    .about .aboutContent {
        height: 50%;
        left: 40%;
        width: 55%;
    }
    .about .aboutContent h1{
        font-size: 2em;
    }
    .about .aboutContent p{
        font-size: 0.85em;
    }
    .about .aboutContent .buy{
        margin-top: 1em;
        font-size: 0.8em;
    }
    footer .footerContent .contentList .newsLetter input{
        margin-right: 0;
        width: 10em;
    }
    footer .footerContent .contentList .newsLetter input::placeholder{
        font-size: 10px;
    }
}

@media screen and (max-width: 576px){
    .navbar .navigation{
        display: none;
    }
    .about .aboutContent{
        height: 60%;
        left: 17%;
        width: 68%;
    }
    .categories .categoryBox {
        margin-top: 0.8em;
    }
    .categories .categoryBox .box{
        margin-right: 0;
    }
    .products .cards{
        width: 100%;
    }
    .products .cards .card{
        width: 70%;
    }
    .products .cards .card .description img{
        width: 100%;
    }
    .products .cards .card .description h3, p{
        padding-bottom: 12px;
    }
    .products .cards .card .description p{
        font-size: 1.2em;
    }
    .products .cards .card .description .prPrice{
        font-size: 1.15em;
    }
    .products .cards .card .description h3{
        font-size: 1.8em;
    }
    .products .cards .card .cardContent{
        bottom: -400px;
    }
    .products .cards .card .cardContent .actions {
        width: 80%;
    }
    .products .cards .card .cardContent .actionContent{
        width: 45%;
    }
    .products .cards .card .cardContent img{
        width: 18%;
        padding: 2px;
    }
    .products .cards .card .actions p{
        width: 15%;
    }
    footer .footerContent{
        flex-direction: column;
    }
    footer .footerContent .address{
        justify-content: center;
        width: 100%;
    }
    footer .footerContent .address{
        align-items: center;
    }
    footer .footerContent .address h3{ 
        margin-bottom: 10px;
    }
    footer .footerContent .contentList{
        width: 90%;
        column-gap: 3em;
        row-gap: 0;
    }
    footer .footerContent .contentList .col{
        margin-top: 2em;
        align-items: center;
        width: 33%;
        text-align: center;
    }
    footer .footerContent .contentList .col .heading{
        font-size: 1.5em;
        white-space: nowrap;
    }
    footer .footerContent .contentList .newsLetter input{
        width: 15em;
    }
    footer .footerContent .contentList .newsLetter input::placeholder{
        font-size: 15px;
    }
}
@media screen and (max-width: 375px){
    .about .aboutContent{
        height: 55%;
        left: 7%;
        width: 86%;
    }
    .categories .heading p{
        text-align: center;
    }
}