@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*::after, *::before{
    box-sizing: border-box;
}
:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 19px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) *3 + var(--hamburger-gap));
    --dark-mode-text: black;
    --dark-mode-text-button: #B88E2F;
    --dark-mode-background: white;
    --dark-mode-button-bg: #B88E2F;
    --dark-mode-boxBg: #FFF3E3;
}

/* TOGGLE - DARK AND LIGHT MODE */

.toggle input{
    display: none;
}
.toggle{
    display: inline-block;
    width: 50px;
    height: 25px;
    background: #ddd;
    border-radius: 50px;
    position: fixed;
    cursor: pointer;
    top: 25px;
    left: 65%;
    transition: background 0.3s;
    z-index: 555;
}
.toggle .slider {
    position: absolute;
    top: 50%;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.toggle::before {
    content: "🌞";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 16px;
    z-index: 5;
    transition: all 0.3s ease;
}
.toggle:has(input:checked)::before,
.toggle input:checked + .slider{
    transform: translate(25px, -50%);
}
.toggle:has(input:checked)::before {
    content: "🌙";
    left: 2px;
}

/* FOR DARK MODE */
.toggle:has(input:checked) ~ .grid{
    background-color: #2C2C2C;
}
.toggle:has(input:checked) + .grid .navbar{
    background-color: #1E1E1E;
    color: #E0E0E0;
}
.toggle:has(input:checked) + .grid .navbar .navigation ul li a{
    color: white;
}
.toggle:has(input:checked) + .grid .navbar .navigation .icons img{
    filter: invert(1) brightness(2);
}
.toggle:has(input:checked) + .grid .categories > *{
    color: white;
}
.toggle:has(input:checked) + .grid .products > *{
    color: white;
}
.toggle:has(input:checked) + .grid .products .cards .card .description h3{
    color: black;
}
.toggle:has(input:checked) + .grid .bentoMain{
    color: white;
}
.toggle:has(input:checked) + .grid footer >*{
    color: white;
}

/* HAMBURGER MENU */
.hamburger-menu{
    --x-width: calc((var(--hamburger-height) + var(--hamburger-gap)) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    z-index: 250;
    cursor: pointer;
    right: 8px;
    display: none;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    height: var(--bar-height);
    width: var(--bar-width);
    background-color: var(--foreground);
    border-radius: 100px;
    transform-origin: left center;
    transition: all var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}
.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}
.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(auto-fit, minmax(100px, auto));
    min-height: 100vh; 
    transition: all 1s;
}

/* NAVBAR */
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
}
.navbar .brandName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.navbar .navigation{
    width: 40%;
}
.navbar .navigation ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.navbar .navigation ul li a{
    text-decoration :none;
    color: black;
    font-family: "Poppins",sans-serif;
}
.navbar .navigation ul li a{
    transition: 1s;
}
.navbar .navigation ul li:hover a{
    border-bottom: 5px solid black;
}
.navbar .icons{
    width: 20%;
}
.navbar .icons ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar .icons ul li{
    list-style: none;
}

/* ABOUT */
.about{
    background: url("../Project_Images/scandinavian-interior-mockup-wall-decal-background\ 1.png") no-repeat center center/cover;
    min-height: 650px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.about .aboutContent{
    position: absolute;
    left: 51%;
    height: 60%;
    width: 45%;
    border-radius: 10px;
    background-color: #FFF3E3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.aboutContent > *{
    padding-left: 5%;
}
.aboutContent h6{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
}
.aboutContent h1{
    font-size: 2.7em;
    color: #B88E2F;
    line-height: 1.3em;
}
.aboutContent .buy{
    height: 13%;
    width: 30%;
    position: relative;
    left: 5%;
    padding: 0;
    border: none;
    margin-top: 2em;
    background-color: #B88E2F;
    color: white;
    font-size:medium;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CATEGORIES */
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
.categories .heading h2{
    font-size: 2em;
}
.categories .categoryBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5em;
    flex-wrap: wrap;
    width: 100%;
}
.categories .categoryBox .box{
    display: flex;
    margin-top: 2em;
    margin-right: 0.8em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 25%;
    transition: 0.8s;
    border-radius: 10px;
}
.categories .categoryBox .box:hover{
    transform: scale(1.1);
    box-shadow:  6px 7px 6px rgba(0, 0, 0, 0.3);
}
.categories .categoryBox .box img{
    max-width: 100%;
    height: auto;
}
.categories .categoryBox .box p{
    font-weight: 500;
    font-size: 1.8em;
    padding-left: none;
}

/* PRODUCTS */
.products{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products .heading{
    text-align: center;
    margin-top: 4em;
}
.products .heading h2{
    font-size: 2em;
}
.products .cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
    min-height: 400px;
    row-gap: 2.5em;
    column-gap: 0.8em;
    width: 90%;
}
.products .cards .card{
    background-color: #F4F5F7;
    border-radius: 10px;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.3);
    transition-delay: 2s;
    max-height: max-content;
}
.products .cards .card:nth-child(1)::before,
.products .cards .card:nth-child(3)::before,
.products .cards .card:nth-child(7)::before{
    content: "-30%";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #E97171;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    top: 12px;
    right: 12px;
}
.products .cards .card:nth-child(4)::before,
.products .cards .card:nth-child(6)::before,
.products .cards .card:nth-child(8)::before{
    content: "New";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #2EC1AC;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    top: 12px;
    right: 12px;
}
.products .cards .card:hover .cardContent{
    background-color:rgba(0, 0, 0, 0.3);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.products .cards .card .cardContent{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: -250px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}
.products .cards .card .cardContent .actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.products .cards .card .actionContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    cursor: pointer;
}
.products .cards .card .actionContent img{
    width: 30%;
    padding-right: 4px;
}
.products .cards .card .cardContent button{
    width: 60%;
    height: 9%;
    margin-bottom: 2em;
    border: none;
    background-color: white;
    color: #B88E2F;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}
.products .cards .cardContent button:hover{
    background-color: #B88E2F;
    color: white;
}
.products .cards .card .cardContent .actions p{
    padding: 0;
    color: white;
    transition: 0.3s;
}
.products .cards .card .cardContent .actionContent:hover p{
    color: #B88E2F;
}
.products .cards .card .cardContent .actionContent:hover img{
    transform: scale(1.2);
}
.products .cards .card img{
    height: 100%;
    width: auto;
    border-radius: 5px;
}
.products .cards .card .description h3,
.products .cards .card .description p{
    padding-left: 15px;
    padding-bottom: 10px;
}
.products .cards .card .description p{
    font-size: 0.9em;
    color: grey;
}
del{
    display: inline;
    color: grey;
    padding-left: 3em;
    font-size: 0.9rem;
}
.products .cards .card .description .prPrice{
    display: inline;
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.products .showBtn{
    width: 15em;
    margin-top: 3em;
    padding: 1em;
    border: 2px solid #B88E2F;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: #B88E2F;
    transition: 1s;
    cursor: pointer;
}
.products .showBtn:hover{
    background-color: #B88E2F;
    border: none;
    color: white;
}

/* ROOMS */
.rooms{
    margin-top: 2em;
    min-height: 650px;
    background-color: #FCF8F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    overflow-x: auto;
}
.rooms .content{
    width: 35%;
    margin-left: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.rooms .content h1{
    font-size: 2.25em;
}
.rooms .content p{
    padding: 0;
    color: grey;
}
.rooms .content button{
    margin-top: 1.5em;
    height: 3em;
    width: 12em;
    border: none;
    background-color: #B88E2F;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.rooms .roomImg{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-x: auto;
}
.rooms .roomImg .imgDes{
    position: relative;
}
.rooms .roomImg .imgDes .imgtxt{
    height: 100px;
    width: 203px;
    position: absolute;
    z-index: 1;
    top: 72%;
    left: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
}
.rooms .roomImg .imgDes .txtIcon{
    height: 40px;
    width: 40px;
    background-color: #B88E2F;
    position: absolute;
    z-index: 1;
    top: 82.1%;
    left: 60.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rooms .roomImg .imgDes .imgtxt p:nth-child(2){
    font-size: 25px;
    font-weight: 500;
}
.rooms .roomImg .imgDes .imgtxt p{
    padding: 0;
}
.rooms .roomImg .imgDes .radioBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    position: relative;
    left: 20px;
    max-width: max-content;
    accent-color: #B88E2F;
}
.rooms .roomImg .imgDes .swipeRight{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: -1%;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(14px);
    z-index: 15;

}
.rooms .roomImg img{
    transform: scale(0.9);
}
.rooms .roomImg::-webkit-scrollbar{
    display: none;
}

/* BENTOGRID */
.bentoMain{
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.bentoMain .bentoHeading{
    text-align: center;
}
.bentoGrid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.8em;
    overflow-x: auto;
}
.bentoGrid .container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bentoGrid .container1{
    height: 100%;
    min-width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.bentoGrid .container .box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1em;
}
.bentoGrid .container1 .box1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "left1 left1 . . . . . ."
    "left1 left1 left2 left2 left2 left2 left2 left2"
    "left1 left1 left2 left2 left2 left2 left2 left2"
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 100%;
}
.bentoGrid .container .box1 img:nth-child(1){
    grid-area: left1;
}
.bentoGrid .container .box1 img:nth-child(2){
    grid-area: left2;
}
.bentoGrid .container .box1 img{
    align-self: flex-end;
}
.bentoGrid .container .box2 img{
    align-self: flex-start;
}
.bentoGrid .container1 .box2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "left3 left3 left3 left4 left4 left4 left4 left4"
    "left3 left3 left3 left4 left4 left4 left4 left4"
    "left3 left3 left3 . . . . . "
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 100%;
}
.bentoGrid .container .box2 img:nth-child(1){
    grid-area: left3;
}
.bentoGrid .container .box2 img:nth-child(2){
    grid-area: left4;
}
.bentoGrid .container2{
    display: flex;
    min-width: 22%;
    justify-content: center;
    align-items: center;
}
.bentoGrid .container3{
    height: 100%;
    min-width: 36%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bentoGrid .container3 .box1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    ". . . . right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    "right1 right1 right1 right1 right2 right2 right2 right2"
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 60%;
}
.bentoGrid .container3 .box1 img:nth-child(1){
    grid-area: right1;
}
.bentoGrid .container3 .box1 img:nth-child(2){
    grid-area: right2;
}
.bentoGrid .container3 .box2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas:
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 right4 right4 right4 right4 ."
    "right3 right3 right3 . . . . ."
    "right3 right3 right3 . . . . ."
    "right3 right3 right3 . . . . ."
    ;
    column-gap: 0.8em;
    width: 100%;
    height: 40%;
}
.bentoGrid .container3 .box2 img:nth-child(1){
    grid-area: right3;
}
.bentoGrid .container3 .box2 img:nth-child(2){
    grid-area: right4;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
    border-top: 2px solid rgba(158, 157, 157,0.3);
}
footer .footerContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
footer .footerContent .address h3{
    margin-bottom: 1em;
    font-size: 2em;
}
footer .address{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-self: baseline;
    text-align: justify;
    width: 30%;
}
footer .address p{
    color: grey;
}
footer .contentList{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}
footer .contentList .heading{
    color: grey;
    font-size: 1.2em;
}
footer .contentList .col{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2em;
}
footer .contentList .col p{
    padding: 0px;
}
footer .contentList .col ul li{
    margin-bottom: 2em;
}
footer .contentList ul li{
    list-style: none;
}
footer .contentList .newsLetter{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .contentList .newsLetter button{
    border: none;
    background: white;
    font-weight: 600;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    gap: 2em;
    cursor: pointer;
}
footer .contentList .newsLetter input{
    border: none;
    border-bottom: 1px solid black;
    margin-right: 1em;
    width: 13em;
}
footer .contentList .newsLetter input::placeholder{
    font-size: 13px;
}
footer .finalText{
    border-top: 1px solid grey;
    width: 80%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
    footer .contentList .newsLetter{
        flex-direction: column;
        align-items: start;
        row-gap: 1em;
    }
}

@media screen and (max-width: 991px){
    .categories .categoryBox .box{
        min-width: 15%;
    }
    footer .address{
        width: 20%;
    }
    .categories .categoryBox .box p{
        font-size: 1.8em;
        padding-top: 1em;
    }
}

@media screen and (max-width: 768px){
    .navbar .navigation{
        width: 50%;
    }
    .navbar .icons {
        display: none;
    }
    .about .aboutContent {
        height: 50%;
        left: 40%;
        width: 55%;
    }
    .about .aboutContent h1{
        font-size: 2em;
    }
    .about .aboutContent p{
        font-size: 0.85em;
    }
    .about .aboutContent .buy{
        margin-top: 1em;
        font-size: 0.8em;
    }
    footer .footerContent .contentList .newsLetter input{
        margin-right: 0;
        width: 10em;
    }
    footer .footerContent .contentList .newsLetter input::placeholder{
        font-size: 10px;
    }
}

@media screen and (max-width: 576px){
    .hamburger-menu{
        display: flex;
    }
    .navbar .navigation ul{
        display: none;
        margin-top: 10em;
        flex-direction: column;
        align-items: end;
    }
    .hamburger-menu:has(input:checked) + .grid .navbar{
        height: 202px;
    }
    .hamburger-menu:has(input:checked) + .grid .navbar .navigation ul{
        margin-top: 4em;
        margin-right: 1em;
        display: flex;
    }
    .hamburger-menu:has(input:checked) + .grid .navbar .navigation ul li{
        text-align: left;
    }
    .navbar .sidebar{
        display: block;
    }
    .navbar .brandName img{
        margin-left: 1em;
        width: 80%;
    }
    .about .aboutContent{
        height: 60%;
        left: 17%;
        width: 68%;
    }
    .categories .categoryBox {
        margin-top: 0.8em;
    }
    .categories .categoryBox .box{
        margin-right: 0;
    }
    .products .cards{
        width: 100%;
    }
    .products .cards .card{
        width: 70%;
    }
    .products .cards .card .description img{
        width: 100%;
    }
    .products .cards .card .description h3 + p{
        padding-bottom: 12px;
    }
    .products .cards .card .description p{
        font-size: 1.2em;
    }
    .products .cards .card .description .prPrice{
        font-size: 1.15em;
    }
    .products .cards .card .description h3{
        font-size: 1.8em;
    }
    .products .cards .card .cardContent{
        bottom: -400px;
    }
    .products .cards .card .cardContent .actions {
        width: 80%;
    }
    .products .cards .card .cardContent .actionContent{
        width: 45%;
    }
    .products .cards .card .cardContent img{
        width: 18%;
        padding: 2px;
    }
    .products .cards .card .actions p{
        width: 15%;
    }
    .rooms{
        flex-direction: column;
        width: 100%;
    }
    .rooms .content{
        width: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .rooms .content h1{
        font-size: 2em;
    }
    .bentoMain .bentoGrid{
        width: 200%;
    }
    footer .footerContent{
        flex-direction: column;
    }
    footer .footerContent .address{
        justify-content: center;
        width: 100%;
    }
    footer .footerContent .address{
        align-items: center;
    }
    footer .footerContent .address h3{ 
        margin-bottom: 10px;
    }
    footer .footerContent .contentList{
        width: 90%;
        column-gap: 3em;
        row-gap: 0;
    }
    footer .footerContent .contentList .col{
        margin-top: 2em;
        align-items: center;
        width: 33%;
        text-align: center;
    }
    footer .footerContent .contentList .col .heading{
        font-size: 1.5em;
        white-space: nowrap;
    }
    footer .footerContent .contentList .newsLetter input{
        width: 15em;
    }
    footer .footerContent .contentList .newsLetter input::placeholder{
        font-size: 15px;
    }
}
@media screen and (max-width: 425px){
    .categories .categoryBox{
        gap: 1em;
    }
    .categories .categoryBox .box{
        width: 75%;
    }
}
@media screen and (max-width: 375px){
    .about .aboutContent{
        height: 55%;
        left: 7%;
        width: 86%;
    }
    .categories .heading p{
        text-align: center;
    }
    .products .cards .card .cardContent .actions{
        width: 100%;
        position: relative;
        left: -10px;
    }
    .products .cards .card .cardContent .actions .actionContent:nth-child(2){
        position: relative;
        left: -13px;
    }
    .products .cards .card .cardContent .actions p{
        font-size: 15px;
    }
    .products .cards .card .description .prPrice{
        width: 100%;
        display: block;
    }
    .products .cards .card .description del{
        padding-left: 1em;
        font-weight: 600;
    }
    .rooms .content{
        margin-top: 2em;
    }
    .rooms .content > *{
        text-align: center;
    }
    .rooms .content h1{
        font-size: 25px;
    }
    .bentoMain .bentoGrid{
        width: 300%;
    }
}
@media screen and (max-width: 320px){
    .products .cards .card .description h3{
        font-size: 1.7em;
    }
    .products .cards .card .description p{
        font-size: 1em;
    }
}