*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.grid{
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr;
}

/* for small tablets */
@media screen and (min-width: 600px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for large tablets/small laptops */
@media screen and (min-width: 900px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* for large laptops/desktops */
@media screen and (min-width: 1200px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1500px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
}

.gridItem{
    height: 100px;
    width: 100%;
    background-color: chocolate;
    border-radius: 15px;
}